*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    // width: 50px;
    // height: 50px;
    // background-color: green;
    position: fixed;
    // transition: top 25ms;
    // top: 50%;
    // transform: translateY(-50%);
}

